<!--<main>-->
    <!--<div class="container px-5 px-sm-0">-->
    <!--  <div class="row">-->
      <%= render 'users/info', book: @newbook , user: @user %><!--部分テンプレ-->
        <!--画面右側-->
        <div class="col-md-8 offset-md-1">
          <h2>Book detail</h2>
          <table class="table">
            <tbody>
            
              <tr>
                <td>
                  <!--アイコン-->
                  <%= link_to user_path(@user) do %>
                    <%= image_tag @book.user.get_profile_image(80,80) %><br>
                    <%= @user.name %>
                  <% end %>
                </td>
                <td>
                <!--タイトル（リンク付き）-->
                <%= link_to book_path(@book) do %>
                  <%= @book.title %>
                <% end %>
                </td>
                <td>
                  <%= @book.body %>
                </td>
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
                  <% end %>
                </td>
                <td>
                  <% if @book.user == current_user %>
                    <%= link_to "Destroy", book_path(@book), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
                  <% end %>
                </td>
              </tr>
            
            </tbody>
          </table>
        <!--</div>-->
      </div>
    </div>
</main>